.advancedSearch {
  .headline{
    .page-headline();
    .full-width-padding();
  }

  //////////////////////////////////////
  //        create order form         //
  //////////////////////////////////////
  .advanced-search-wrap {
    .full-width-padding();
    margin-top:20px;
    .checkbox {
      margin-top: 0;
    }

    .searchButton {
      margin-top: (@grid-gutter-width/2) + 5;
    }

    .only-productId label {
      font-weight: 600;
    }

    .product-id-tag-box {
      cursor: pointer;
      display: inline-block;
      background-color: @account-subheadline-bg;
      border: 1px solid @border-color-3;
      padding: 9px 15px;
      margin-bottom: 15px;
      margin-right: @grid-gutter-width;

      .glyphicon {
        padding-left: 17px;
        color: @border-color-3;
      }
    }
  }

  //////////////////////////////////////
  //            pagination            //
  //////////////////////////////////////
  .pagination-bar {
    margin-top: 35px;
    margin-bottom: 0;

    .pagination-toolbar {
      .full-width-padding();
    }

    &.bottom {
      margin-top: 0;

      .pagination-toolbar {
        border-top: 0;
        border-color: @border-color;
      }
    }

    &.pagination-empty {
      border-top: 1px solid @border-color-2;

      .total-results {
        margin-bottom: 30px;
        margin-top: 30px;
      }
    }

    &.top .pagination-toolbar {
      padding-top: 30px;
      border-top: 1px solid @border-color-2;
      border-bottom: none;
    }

    .total-results {
      font-size: @font-size-small;
      .text-variant-bold();
      color: @text-color-secondary;
    }

    .sort-refine-bar + .total-results {
      margin-top: 30px;
    }
  }

  .product-action {
    margin-bottom: 0;

    &.bottom {
      border-top: 0;
    }
  }

  //////////////////////////////////////
  //            item list             //
  //////////////////////////////////////
  .item-list {
    margin-top: 0;
    margin-bottom: 0;
    border-top: none;

    .item-variants {
      display: none;
    }

    .item-list-item {
      &:nth-child(4n+4),
      &:nth-child(4n+5) {
        background-color: transparent;
      }

      &:nth-of-type(2n+1) + .add-to-cart-order-form-wrap,
      &:nth-of-type(2n+1) {
        background-color: @table-2n-line-bg;
      }

      .item-image {
        padding-left: 30px;

        @media (max-width:@screen-sm) {
          padding-left: 20px;
        }
      }
    }
  }

  .add-to-cart-order-form-wrap {
    display: none;
  }

  .item-quantity-total {
    height: 42px;
    .qty *:not(.glyphicon) {
      display: none;
    }
  }

  //////////////////////////////////////
  //   create order product list      //
  //////////////////////////////////////
  .create-order-form {
    position: relative;

    .create-order-form-button {
      position: absolute;
      right: 0;
      top: -78px;
      .full-width-padding();

      &.bottom {
        bottom: -86px;
        top: auto;
      }
    }

    .item-list {
      border-top: 1px solid @border-color-2;


      .item-variants {
          display: table-cell;
        }

      .item-toggle,
      .item-description,
      .item-quantity,
      .item-total-column {
          display: none;
      }


      .item-id-checkbox {
        margin-top: 10px;

        .form-control-checkbox {
          font-size: @font-size-base;
        }
      }

      .variant-checkboxes {
        margin-top: @grid-gutter-width/2;
        border-top: 1px solid @border-color;
        padding-top: @grid-gutter-width/2;
      }
    }
  }
  .pagination-no-sorting + .create-order-form .create-order-form-button {
    top: -64px;

    &.bottom {
      top: auto;
      bottom: -65px;
    }
  }
  .pagination-with-pager + .create-order-form .create-order-form-button {
    position: static;
    border-top: 1px solid @border-color-2;
    padding-top: @grid-gutter-width;
    padding-bottom: @grid-gutter-width;
    .clearfix();

    &.bottom {
      border-top: 0;
      border-bottom: 1px solid @border-color-2;
    }

    .btn {
      float: right;
    }

    @media (max-width: @screen-xs-max) {
      padding: @grid-gutter-width;
      margin-bottom: 0;

      .btn {
        width: 100%;
      }
    }
  }
}

@media (min-width: @screen-md-min) {
  .advancedSearch {
    .item {
      &-info {
        width: 30%;
      }
      &-description {
        width: 20%;
      }
    }
    #cartOrderGridForm {
      max-height: 453px;
    }
    .create-order-form {
      .item-price {
        width: 20%;
      }
    }
  }
}

@media (min-width: @screen-sm-min) {
  .advancedSearch {
    .advanced-search-wrap {

      .only-productId {
        position: absolute;
        right: 0;
        top: 0;
        padding-right: @grid-gutter-width/2;
      }
    }
    .pagination-bar {
      .sort-refine-bar,
      .total-results {
        float: left;
      }

      .sort-refine-bar {
        margin-right: @grid-gutter-width;
      }
    }
    .create-order-form {
      .details-price-wrap {
        text-align: right;
      }
    }
  }
}

@media (max-width: @screen-sm-max) {
  .advancedSearch {
    .pagination-bar {
      .sort-refine-bar + .total-results {
        margin-top: @grid-gutter-width * 2;
      }
    }

    .item-list {
      &-item {
        .clearfix();
      }

      .item {
        &-quantity {
          float: left;
          text-align: left;
          padding-top: @grid-gutter-width/2;
          padding-right: 0;
          line-height: 42px;

          label {
            float: left;
            margin: 0 (@grid-gutter-width/2) 0 0;
          }
          input {
            float: left;
            margin-right: @grid-gutter-width/2;
            padding-left: 12px;
            padding-right: 12px;
            text-align: center;
            width: 70px;
          }
        }

        &-total {
          margin: 0;
          padding: (@grid-gutter-width/2) @grid-gutter-width 0 0;
          line-height: 42px;
        }
      }
    }
  }
}

@media (max-width: @screen-xs-max) {
  .advancedSearch {
    .pagination-bar {
      .pagination-toolbar {
        padding-left: @grid-gutter-width;
        padding-right: @grid-gutter-width;
      }

      .sort-refine-bar + .total-results {
        margin-top: 30px;
      }

      &.pagination-empty {
        padding-left: @grid-gutter-width;
        padding-right: @grid-gutter-width;
      }
    }

    .create-order-form {
      .create-order-form-button {
        right: 10px;
        top: -65px;

        &.bottom {
          bottom: -161px;
        }
      }
    }
  }
}
@media (max-width: @screen-xs-min) {
  .advancedSearch {
    .create-order-form {
      .create-order-form-button {
        position: static;
        margin-bottom: 35px;

        .btn {
          width: 100%;
        }
      }
    }
  }
}