## messageSource=classpath:/coppacore/messages/email-quoteBuyerCancellation_$lang.properties
#macro( genHtmlBoldFont $text )
<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>$text</b></font>
#end
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#0468b3">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end
#macro(displayNegationForDiscount $priceData)
    #if (${priceData.value} > 0)
    -
    #end
    ${priceData.formattedValue}
#end

<html>
<head>
    <style>
        a
        {
            text-decoration: none;
            color:#0468b3;
        }
    </style>
</head>
<body>
    #set ($quoteDetailsUrl = "${ctx.secureBaseUrl}/my-account/my-quotes/${ctx.quote.code}")
    <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="font-size:16px;background:#f4f4f4;">
        <tr>
            <td valign="middle">
                ${ctx.cmsSlotContents.SiteLogo}
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" style="background-color: #ffffff;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;">
                <table width="570" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" valign="top" bgcolor="#FFFFFF">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="boarder-collapse;">
                                <tr>
                                    <td valign="middle"></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f4f4f4">
                                        <table style="width: 100%; height: 60px; border-collapse:collapse;" cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td></td>
                                                <td valign="bottom" align="right" style="text-align:right; padding-left:20px;padding-right:20px;padding-bottom:20px;">
                                                    <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
                                                        <a style="color: #0468b3; text-decoration: none;" href="${ctx.baseUrl}">${ctx.messages.help}</a> |
                                                        <a style="color: #0468b3;text-decoration: none;" href="${ctx.messages.contactUsPage}">${ctx.messages.contactUs}</a> |
                                                        <a style="color: #0468b3;text-decoration: none;" href="${ctx.baseUrl}">${ctx.messages.termsAndCondition}</a>
                                                    </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">
                                        <a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;font-family:arial,helvetica,sans-serif; font-size: 14px;color:#19212b;text-decoration: none;">${ctx.cmsSlotContents.TopContent}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">

                                        <p style="margin:2px 0"><font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('salutation', ${ctx.title},${ctx.displayName})}</b>,</font></p>
                                        <br />

                                        <p style="margin:2px 0"><font color="#000000" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('quoteDetailsParagraph', "#genHtmlLinkStartTag($quoteDetailsUrl)", "#genHtmlBoldFont(${ctx.quote.code})", "#genHtmlLinkEndTag()")}</font></p>
                                        <br />

                                        <p style="margin:2px 0"><font color="#000000" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('thankYouParagraph', "#genHtmlLinkStartTag($quoteDetailsUrl)", "#genHtmlBoldFont(${ctx.quote.code})", "#genHtmlLinkEndTag()")}</font></p>

                                        <p>
                                            <font color="#000000" size="2" face="Arial, Helvetica, sans-serif">
                                                ${ctx.messages.complimentaryClosing}
                                                <br />
                                                ${ctx.messages.companyName}
                                            </font>
                                        </p>
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="display: block;font-family:arial,helvetica,sans-serif;font-size: 18px;padding-bottom:15px;">
                                            <strong>${ctx.messages.quoteSummary}</strong>
                                        </span>
                                        <span style="display:block;font-family:arial,helvetica,sans-serif;font-size: 16px;padding-bottom:23px;">${ctx.messages.itemsToBeDelivered}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" style="background-color:#0f2b3f;padding-top:10px;padding-right:15px;padding-bottom:10px;padding-left:15px;">
                                        <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                            <tr>
                                                <td style="font-family:arial,helvetica,sans-serif;color:#7f919e;font-size:10px;font-size:13px;text-transform:uppercase;" align="left" valign="bottom" width="266">
                                                    Item (Style Number)
                                                </td>
                                                <td style="font-family:arial,helvetica,sans-serif;color:#7f919e;font-size:10px;font-size:13px;text-transform:uppercase;" align="left" valign="bottom" width="96">
                                                    Price
                                                </td>
                                                <td style="font-family:arial,helvetica,sans-serif;color:#7f919e;font-size:10px;font-size:13px;text-transform:uppercase;" align="center" valign="bottom" width="96">
                                                    Qty
                                                </td>
                                                <td style="font-family:arial,helvetica,sans-serif;color:#7f919e;font-size:10px;font-size:13px;text-transform:uppercase;" align="right" valign="bottom" width="108">
                                                    Total
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%">
                                        <table style="color: #19212b; width: 100%; border-collapse: collapse;" cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                                #foreach( $entry in ${ctx.quote.entries} )
                                                <tr style="border-bottom: 1px solid #ddd;">
                                                    <td width="120" align="center" valign="middle" style="padding-top:20px;padding-right:5px;padding-bottom:0px;padding-left:5px">
                                                        <a href="${ctx.baseUrl}$entry.product.url">
                                                            #foreach($image in $entry.product.images) #if($image.imageType == "PRIMARY" && $image.format == "thumbnail" )
                                                                <img style="max-width:120px;"src="${ctx.mediaBaseUrl}$image.url" alt="" title="$entry.product.name"/>
                                                            #end #end
                                                        </a>
                                                    <td width="150" align="left" valign="middle" style="padding-top:20px;padding-right:5px;padding-bottom:20px;padding-left:5px;font-family:arial,helvetica,sans-serif;">
                                                        <strong>$entry.product.name</strong><br />${ctx.messages.productCode} $entry.product.code
                                                    </td>
                                                    <td width="96" align="left" valign="middle" style="padding-top:20px;padding-right:5px;padding-bottom:20px;padding-left:5px;font-family:arial,helvetica,sans-serif;">
                                                        $entry.basePrice.formattedValue
                                                    </td>
                                                    <td width="96" align="center" valign="middle" style="padding-top:20px;padding-right:5px;padding-bottom:20px;padding-left:5px;font-family:arial,helvetica,sans-serif;">
                                                        $entry.quantity
                                                    </td>
                                                    <td width="108" align="right" valign="middle" style="padding-top:20px;padding-right:5px;padding-bottom:20px;padding-left:5px;font-family:arial,helvetica,sans-serif;">
                                                        <strong>$entry.totalPrice.formattedValue</strong>
                                                    </td>
                                                </tr>
                                                #end
                                            </tbody>
                                        </table>

                                        <br />

                                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="products">
                                            <tr>
                                                <td valign="top">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td></td>
                                                        </tr>

                                                        #if (!$ctx.quote.appliedOrderPromotions.isEmpty())
                                                        <tr>
                                                            <td></td>
                                                            <td align="right" style="padding-left:0px;padding-top:10px;padding-bottom:15px;padding-right:0px;">
                                                                <strong style="color:#00a651;font-size:16px;font-family:arial,helvetica,sans-serif;">
                                                                        #set ($promotionIndex = 0)
                                                                        #foreach( $promotion in $ctx.quote.appliedOrderPromotions)
                                                                            #set ($promotionIndex = $promotionIndex+1)
                                                                            ${promotion.promotionData.description}#if ($promotionIndex != $ctx.quote.appliedOrderPromotions.size()), #end
                                                                        #end
                                                                        - ${ctx.messages.getMessage('youSaveOnOrderPromotions', ${ctx.quote.totalDiscounts.formattedValue})}
                                                                </strong>
                                                            </td>
                                                        </tr>
                                                        #end

                                                        <tr>
                                                            <td valign="top">
                                                            </td>
                                                            <td align="right" valign="top" height="100%">
                                                                <table cellspacing="0" border="0" style="color: #19212b; border-collapse:collapse;" width="100%" cellpadding="0">
                                                                    <tr>
                                                                        <td align="right" style="font-family:arial,helvetica,sans-serif;padding-bottom: 30px;padding-left:0px;padding-top:0px;padding-right:0px;">
                                                                            <table cellpadding="0" cellspacing="0" border="0" width="280" style="border-collapse:collapse;">
                                                                                <tr>
                                                                                    <td valign="top" align="left" style="padding-left:0px;padding-top:0px;padding-bottom:10px;padding-right:0px;">${ctx.messages.subtotal}:</td>
                                                                                    <td valign="top">&nbsp;</td>
                                                                                    <td valign="top" align="right" style="padding-left:0px;padding-top:0px;padding-bottom:10px;padding-right:0px;"><strong>${ctx.quote.subTotal.formattedValue}</strong></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td valign="top" align="left" style="padding-left:0px;padding-top:0px;padding-bottom:10px;padding-right:0px;">${ctx.messages.orderDiscounts}:</td>
                                                                                    <td valign="top">&nbsp;</td>
                                                                                    <td valign="top" align="right" style="padding-left:0px;padding-top:0px;padding-bottom:10px;padding-right:0px;"><strong>#displayNegationForDiscount($ctx.quote.totalDiscounts)</strong></td>
                                                                                </tr>
                                                                                #if (${ctx.quote.quoteDiscounts.value} > 0)
                                                                                    <tr>
                                                                                        <td valign="top" align="left" style="padding-left:0px;padding-top:0px;padding-bottom:10px;padding-right:0px;">${ctx.messages.quoteDiscounts}:</td>
                                                                                        <td valign="top">&nbsp;</td>
                                                                                        <td valign="top" align="right" style="padding-left:0px;padding-top:0px;padding-bottom:10px;padding-right:0px;"><strong>- ${ctx.quote.quoteDiscounts.formattedValue}</strong></td>
                                                                                    </tr>
                                                                                #end
                                                                                <tr>
                                                                                    <td valign="top" align="left" style="padding-left:0px;padding-top:0px;padding-bottom:10px;padding-right:0px;">${ctx.messages.shipping}:</td>
                                                                                    <td valign="top">&nbsp;</td>
                                                                                    <td valign="top" align="right" style="padding-left:0px;padding-top:0px;padding-bottom:10px;padding-right:0px;"><strong>#if($ctx.quote.deliveryCost && $ctx.quote.deliveryCost.value > 0) ${ctx.quote.deliveryCost.formattedValue} #else ${ctx.messages.free} #end</strong></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td valign="top" align="left" style="padding-left:0px;padding-top:0px;padding-bottom:10px;padding-right:0px;">${ctx.messages.tax}:</td>
                                                                                    <td valign="top">&nbsp;</td>
                                                                                    <td valign="top" align="right" style="padding-left:0px;padding-top:0px;padding-bottom:10px;padding-right:0px;"><strong>${ctx.quote.totalTax.formattedValue}</strong></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td valign="top" align="left" style="margin: 0 0 0 0;font-family:arial,helvetica,sans-serif; color:#19212b;font-size: 15px;text-transform:uppercase;"><strong>${ctx.messages.quoteTotal}</strong></td>
                                                                                    <td valign="top">&nbsp;</td>
                                                                                    <td valign="top" align="right" style="font-family:arial,helvetica,sans-serif; color:#19212b;font-size: 15px;"><strong>${ctx.quote.totalPriceWithTax.formattedValue}</strong></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <tr>
                                                                    <td width="15"></td>
                                                                    <td width="230" align="right" style="font-family:arial,helvetica,sans-serif; font-size: 15px; color:#19212b;padding-bottom: 9px;padding-top:0;padding-right:0;padding-left:0;">
                                                                        ${ctx.messages.getMessage('includesTax', ${ctx.quote.totalTax.formattedValue})}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="15"></td>
                                                                    <td align="right" valign="bottom" style="font-family:arial,Helvetica,sans-serif; color:#00a651; font-size: 15px; text-transform: uppercase;">
                                                                        <strong>${ctx.messages.getMessage('youSaveInTotal', ${ctx.quote.totalDiscountsWithQuoteDiscounts.formattedValue})}</strong>
                                                                    </td>
                                                                </tr>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">
                                        <a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.BottomContent}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td> </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#F4F4F4" style="padding-top:26px;padding-bottom:50px;padding-right:35px;padding-left:40px;">
                <table style="width: 100%; height: 30px; border-collapse:collapse;" cellpadding="0">
                    <tbody>
                    <tr>
                        <td align="left" style="font-size: 14px;">© ${ctx.messages.year} ${ctx.messages.companyName} </td>
                        <td align="right" style="text-align: right;">
                            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
                                <a style="color: #0468b3;text-decoration: none;" href="${ctx.baseUrl}">${ctx.messages.help}</a> |
                                <a style="color: #0468b3;text-decoration: none;" href="${ctx.messages.contactUsPage}">${ctx.messages.contactUs}</a> |
                                <a style="color: #0468b3;text-decoration: none;" href="${ctx.baseUrl}">${ctx.messages.termsAndCondition}</a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td> </td>
        </tr>
    </table>
</body>
</html>