.addtocart-component {
	margin-top: @grid-gutter-width/2;

	@media (min-width:1250px) {
		.input-group{
			float: left;
		}
	}

	.stock-wrapper {
		font-size: 13px;
		margin: 25px 0 40px 0;


		.futureStockLink {
			
			font-size: 15px;
			font-weight: bold;
			color:#333333;
			text-decoration: underline;
			@media (min-width:1250px){
				margin-left: @grid-gutter-width;
			}
		}

		@media (min-width:1250px) {
			.stock-status{
				margin-left:195px;
				font-size: 15px;
				margin-bottom: 6px;
			}
		}
		.stock-status{
			font-size: 15px;
			margin-bottom: 6px;
		}

	}

	.actions {
		.btn {
			margin-bottom: @grid-gutter-width/2;
			font-weight: bold;
		}
	}


	.row {
		.AddToCart-ShareOnSocialNetworkAction {
			margin: 0 auto;
			padding-top: 50px;
			width: 100px;
		}
	}

	div.a2a_kit a.a2a_dd.share {
		background: url("../../common/images/productShareIcon.png") no-repeat left center;
		padding-left: 25px;
		.a2a_img {
			display: none;
		}
	}
	//change default button style for plus and minus
	.btn-default{
		background-color: @meta-nav-color;
		border-color: @meta-nav-color;
		color:#333333;
		font-weight: normal;
	}
}

.addtocart-component,
#add_to_cart_storepickup_form {
	.qty-selector{
		.input-group-btn,.btn{
			width: floor((@padding-large-vertical * 2) + (@btn-font-size * @btn-line-height) + (@btn-border-width * 2));
			margin: 0;
			padding-left: 0;
			padding-right: 0;
		}

		.form-control{
			width: @input-height-base * 2.5;
			height: floor((@padding-large-vertical * 2) + (@btn-font-size * @btn-line-height) + (@btn-border-width * 2));
			text-align: center;
			font-size: 13px;
			font-weight: bold;
		}
	}
}

@media (max-width: @screen-sm-max) {
	.addtocart-component{
		margin-top: @grid-gutter-width;

		.qty-selector{
			.input-group-btn,
			.btn,
			.form-control{
				width: (@input-height-large + 10) * 1.2;
			}
		}
	}
}

@media (max-width:@screen-xs-max) {
	.addtocart-component{
		.qty-selector {
			// margin-left: auto;
			// margin-right: auto;
		}

		.stock-wrapper {
			display: table;
			// margin-left: auto;
			// margin-right: auto;
		}
	}
}



// add-to-cart modal
.add-to-cart{

	.add-to-cart-item{
		margin-bottom:(@grid-gutter-width/2);
		.thumb {
			float: left;
			margin-right: (@grid-gutter-width/2);
				img {
					max-width: 65px;
					border:1px solid @meta-nav-hover-background;
				}
		}
		.details{
			font-size: 15px;
			margin-left: 65px+(@grid-gutter-width/2);
			.name{
				// font-weight: bold;
				color: inherit;
				display: block;
				text-decoration: none;
			}
			.qty{
				display: inline-block;
			}
		}

		.price{
			font-size: 15px;
			text-align: right;
			font-weight: bold;
			display: inline-block;
			float: right;	
		}
	}

	&-button{
		background-color: @ey-yellow;
		color:#333333;
		text-decoration: none;

		&:hover, &:focus{
			text-decoration: none !important;
		}


		& + .js-mini-cart-close-button{
			background-color: @meta-nav-color;
			color:#333333;
			border:3px solid @meta-nav-color;
			text-decoration: none;

			&:hover, &:focus{
				background-color: @meta-nav-hover-background;
				color:#333333;
				border:3px solid @meta-nav-hover-background;
				text-decoration: none !important;
			}
		}
	}
}
