//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb-section{
	background: @meta-nav-color;
  	
	@media (max-width:@screen-xs) {
		padding:10px;
	}
	.breadcrumb{
		.full-width-padding();
		font-size: 12px;
		font-weight: 500;
		background: @meta-nav-color;

		li{

			font-size: 15px;
			color:#333333;
			a{
				
				color:#333333;
				text-decoration: underline;
				font-weight: bold;
			}

			&:last-child a{
				text-decoration: none;
			}
		}
	}
}
