.checkout-login{
  .full-width-padding();
  .headline{
    .page-headline();
  }

  .btn.btn-block + .btn.btn-block{
    margin-top: (@grid-gutter-width/2);
  }
}

.checkout__new-account {
  text-align: center;
  background-color: @account-subheadline-bg;
  border-top: 1px solid @border-color-2;
  padding: @grid-gutter-width 0 55px;

  .accountActions-bottom {
    margin-top: 35px;
  }
}

.checkout__new-account__headling{
    font-size: 24px;
    font-weight: bold;
}

.checkout__new-account__form{
    text-align: left;
    margin-top: 25px;
}

@media (max-width: @screen-xs-max) {
  .checkout__new-account {
    .row();
    padding-left: @grid-gutter-width/2;
    padding-right: @grid-gutter-width/2;
  }
}

.js-execute-entry-action-button{
  width:62px;
  a{
    color:#333333;
    text-decoration: underline !important;
  }
}

/////////////////////////////////
//      checkout headline      //
/////////////////////////////////
.checkout-headline{
  .page-headline();
  padding-left: 30px;
  font-size: 20px;

  @media (max-width: @screen-md) {
    padding-left: 0;
  }

  span{
    color: @checkout-icon;
    margin-right: 5px;
    top: 2px;
  }
}

.glyphicon-pencil::before{
  content:'Edit' !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color:#333333;
  font-size: 15px;
  font-weight: bold;
}

.checkout-summary-headline {
  .page-headline();
  padding-right: 30px;
  font-size: 20px;

  @media (max-width: @screen-md) {
    padding-right: 20px;
  }

  @media (max-width: @screen-sm) {
    padding-left: 20px;
    padding-right: 20px;
  }

  span{
    color: @checkout-icon;
    margin-right: 5px;
    top: 2px;
  }

  @media (max-width: @screen-xs-max) {
    padding-left: @grid-gutter-width/2;
    padding-right: @grid-gutter-width/2;
  }
}



/////////////////////////////////
//       checkout steps        //
/////////////////////////////////
@step-height: 49px;
.checkout-body-styling {
  padding: 20px;
  border: 1px solid #333333;
  border-top: 0;
}
.checkout-steps {
  padding-left: 30px;
  @media (max-width:@screen-md) {
    padding-left:0 !important;
    padding-right:0 !important;
  }

  .step-head {
    background: @meta-nav-background;
    color: @steps-color;
    // border: 1px solid @border-color-3;
    font-size: 15px;
    font-weight: 600;

    position: relative;
    display: table;
    width: 100%;
    padding: (@grid-gutter-width/2) @grid-gutter-width (@grid-gutter-width/2) 40px;
    height: @step-height;
    text-decoration: none;
    font-weight: bold;


    counter-increment:checkout;
    &:before{
      content:counter(checkout) + '.';
      position: absolute;
      left: 3px;
      top: 0;
      width: 50px;
      text-align: center;
      line-height: @step-height;
    }

    & + .step-head {
      margin-top: @grid-gutter-width/2;
    }

    &.active{
      background: #333333;
      color: #ffffff !important;
      border-color: #333333;
    }

    .title{
      vertical-align: middle;
      display: table-cell;
      width: 100%;
    }

    .edit{
      color: @link-color;
      font-size: 20px;
      display: table-cell;
      vertical-align: top;
    }
  }

  .step-body{
    .step-body-form {
      .checkout-body-styling();

      .radiobuttons_paymentselection {
        margin-bottom: 5px;
      }
    }

    .checkout-next{
      margin: 30px 0;
    }

    hr{
      margin: 0 -@grid-gutter-width;
      border-color: @steps-divider;
      display:none;
    }

    .checkout-indent{
      .headline{
        font-size: 15px;
        padding-bottom: 5px;
        padding-top: 5px;
        font-weight: bold;
      }
    }
  }

  //overwrite default btn style
  .btn-default{

    color: #333333;
    background-color: @meta-nav-background;
    border-color: @meta-nav-background;

    &:hover,&:focus, &:active{
      color: #333333;
      background-color: @meta-nav-hover-background;
      border-color: @meta-nav-hover-background;
    }

    //button default disable style overwrit3e bootstrap
    &[disabled]{
      background-color: #f7f4f4 !important;
      color:#333333 !important;
      border-color: #f7f4f4 !important;
    }
  }

  label{
    font-size: 15px;
    color:#333333;
    text-transform: none;
    vertical-align: middle;
  }

  input[type="text"],select{
    height:38px;
    border:1px solid @meta-nav-hover-background;
    max-width: 350px;
    border-radius: 0;
  }
  #costCenter .form-group{
    margin-bottom: 0;
  }

}

@media (max-width: @screen-md) {

  .checkout-steps {
    padding-left: @grid-gutter-width;
  }
}

@step-height-mobile: 68px;
@media (max-width: @screen-xs-max) {
  .checkout-steps{
    // padding-left: @grid-gutter-width;
    // padding-right: @grid-gutter-width;

    .step-head {
      padding-top: @grid-gutter-width;
      padding-bottom: @grid-gutter-width;
      &:before{
        line-height: 60px;
      }
    }
  }
}


/////////////////////////////////
//     checkout shipping       //
/////////////////////////////////
.checkout-shipping{
  .checkout-body-styling();
  padding-top: 0;
  padding-bottom: @grid-gutter-width/2;

  .checkout-shipping-items{

    .checkout-shipping-items-header {
      text-transform: uppercase;
      padding: 25px  0 (@grid-gutter-width/2) 0;
      font-size: @font-size-large-1;
      font-weight: 700;

      & + ul {
        display: none;
        @media (max-width:@screen-sm) {
          display: block;
        }
      }
    }

    > div {
      
      overflow: hidden;
      text-overflow: ellipsis;
      padding-bottom: 25px;
      @media (min-width:@screen-sm) {
        &:first-child{
          padding-bottom: 16px;
        }
        
      }
    }

    ul{
      .list-unstyled;
      margin: 0;

      li{
        padding-top: 6px;
        line-height: @font-size-large;

        &:first-child{
          padding-top: 1px
        }

        .name{
          font-weight: 700;
        }
      }
    }
    .col-lg-12 .checkout-shipping-items-header{
      padding-top:0;
    }
  }

  ///////////////////////////////////////////////////////////////// deprecated
  .simplify-pickup-locations{
    background: @grayblue;
    padding: (@grid-gutter-width/2);
    .simplify-pickup-location-header{
      .clearfix;
      background: darken(@grayblue,20%);
      padding: (@grid-gutter-width/2);
      line-height: 35px;

      margin: -(@grid-gutter-width/2) -(@grid-gutter-width/2) (@grid-gutter-width/2)  -(@grid-gutter-width/2) ;

    }




    ul{
      .list-unstyled;
      margin: 0;

      li + li{
        border-top:1px solid darken(@grayblue,20%);
      }

      a{
        color: @text-color;
        background: #fff;
        display: block;
        padding: (@grid-gutter-width/2);
        text-decoration: none;
      }
    }
  }
  //////////////////////////////////////////////////////////////////////// deprecated

}

@media (max-width: @screen-md-max) {
  .checkout-shipping{
    .checkout-shipping-items{
      .qty{
        text-align: right;
      }
      .checkout-pickup-items {
        padding-bottom: 0;
      }
    }
  }
}



/////////////////////////////////
//     checkout payment        //
/////////////////////////////////
.checkout-paymentmethod {
  .checkout-body-styling();
  padding-top: 0;

  .step-body & hr {
    margin-top: 25px;
  }
}



/////////////////////////////////
//     checkout modals         //
/////////////////////////////////
#addressbook,#savedpayments,#savedpaymentsbody{
  display: none;
  padding-bottom: 20px;

  #colorbox &{
    display: block;
  }
  ul{
    .list-unstyled;
    margin: 0;

    li{
      padding: (@grid-gutter-width/2) 0;
    }
  }

}


/////////////////////////////////
//      checkout summary      //
/////////////////////////////////
.checkout-order-summary{
  padding-right: 30px;

  @media (max-width: @screen-md) {
    padding-right: 20px;
  }

  @media (max-width: @screen-sm) {
    padding-right: 20px;
    padding-left: 20px;
  }


  .checkout-order-summary-list{
    .list-unstyled;
    border-bottom: 1px solid @steps-divider;
    margin: 0;

    @media (min-width: @screen-sm-min) {
      &:first-of-type {
        .checkout-order-summary-list-heading {
          padding-top: @checkout-list-head-padding-first;
        }
      }
      .checkout-order-summary-list-heading {
        &:only-child {
          border-bottom: 0;
        }
      }
    }

    li{
      .clearfix();
      padding: @grid-gutter-width;
      padding: 10px;
      border-bottom: 1px solid @meta-nav-hover-background;
      // border-left: 1px solid @meta-nav-hover-background;
      // border-right: 1px solid @meta-nav-hover-background;

      &:nth-child(2n + 3) {
        // background-color: @table-2n-line-bg;
      }
      &:last-child{
        border-bottom:none;
      }
    }

    .checkout-order-summary-list-heading {
      background-color: @checkout-list-head-bg !important;
      color: @checkout-list-head-color;
      padding: @checkout-list-head-padding;
      border-bottom: 1px solid @checkout-list-head-border;

      > div {
        float: left;
      }

      .title {
        font-weight: 700;
        padding-right: 5px;
      }
      .address{
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
      }
    }

    .thumb{
      float: left;
      margin-right: @grid-gutter-width;
      width: 65px;

      img{
        width: 100%;
        height: auto;
      }
    }

    .price{
      float: right;
      margin-left: (@grid-gutter-width/2);
      margin-bottom: @grid-gutter-width;
      font-size: @font-size-base;
      .text-variant-bold();
    }

    .details{
      font-size: @font-size-base;
      margin-left: 85px;

      .name{
        .text-variant-bold();
        a{
          color: #333333;
          text-decoration: none;
        }
      }

      .qty span{
        font-size: @font-size-small;
        color: #333333;
        font-weight: normal;
        // text-transform: uppercase;
        padding-right: @grid-gutter-width/2;
      }
    }

    .updateQuantityProduct-toggle {
      float: right;
    }

    // maybe deprecated
    .stock-status{
      clear: both;
      padding: (@grid-gutter-width/2) 0;
      font-size: @font-size-small;
    }
    // maybe deprecated
  }

  @media (max-width: @screen-sm-max) {
    .checkout-order-summary-list{
      .checkout-order-summary-list-heading {
        .address{
          width: 100%;
        }
      }
    }
  }

  /////////////////////////////////
  //         order total         //
  /////////////////////////////////
  .subtotals{
    font-size: @font-size-large;
    margin-bottom: 30px;
    background-color: @meta-nav-background;
    padding:20px 30px;

    .subtotal,
    .shipping,
    .subtotals__item--state-discount,
    .tax,
    .totals{
      padding: 5px 0;

      span{
        float: right;
        font-weight: 600;
      }
    }

    .totals{
      // font-size: @font-size-large-3;
      font-size: 20px;
      font-weight: 700;
      // text-transform: uppercase;
      margin-top: 15px;
      padding: (@grid-gutter-width/2) 0;
      border-top:1px solid @border-color-3;
    }

    .realTotals {
      font-size: @font-size-base;
    }
  }
}
.subtotals__item--state-discount {
  color: @item-promo-color;
}

.label-spacing {
  padding-right: 5px;
}

@media (max-width: @screen-xs-max) {
  .place-order-form {
    padding: 0 @grid-gutter-width;
  }

  .checkout-order-summary{
    .checkout-body-styling();
    margin-left: @grid-gutter-width;
    margin-right: @grid-gutter-width;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    .checkout-order-summary-list {
      .list-unstyled;
      border: none;
      padding: 0;

      .checkout-order-summary-list-heading {
        background-color: transparent!important;
        color: @text-color;
        padding: 25px  @grid-gutter-width;
        border-color: @steps-divider;

        .title{
          text-transform: uppercase;
          font-size: @font-size-large-1;
        }
      }

      .checkout-order-summary-list-items {
        border-bottom: 1px solid @steps-divider;

      }
    }

    .subtotals {
      padding: 0 @grid-gutter-width;
    }
  }
}


.checkout-review{
  .checkout-body-styling();
  padding:20px;

  .checkout-order-summary .subtotals {
    margin-top: 0;
    background-color:unset !important;
    padding:0;
    margin-bottom: 0;

    .realTotals{
      text-align: right;
    }
  }
  .checkout-order-summary{
    padding:0;
  }
}

.place-order-form {
  .checkbox {
    margin: (@grid-gutter-width*2) 0 25px ;

    label {
      font-size: @font-size-base;
      color: @text-color;
      text-transform: none;
    }
  }
}

// terms and conditions modal - close button
.btn-close-terms-and-conditions {
  margin: 30px 0;
}

// @media (min-width: @screen-sm-min) {
//   .place-order-form {
//     .checkbox {
//       margin-left: @grid-gutter-width;
//       margin-right: @grid-gutter-width;
//     }
//   }
// }


/////////////////////////////////
//        checkout help        //
/////////////////////////////////
.checkout-help {
  text-align: center;
  border: 1px solid @border-color-3;
  font-size: 15px;
  padding: (@grid-gutter-width/2);
  margin-top: @grid-gutter-width * 3;

  @media (max-width: @screen-xs-max) {
    margin-top: 30px;
    margin-left: @grid-gutter-width;
    margin-right: @grid-gutter-width;
  }
}

.checkout-success{
  .full-width-padding();
}

.checkout-success__body{
    margin: 30px 0 55px;
    text-align: center;
}

.checkout-success__body__headline{
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 15px;
      text-transform: uppercase;
}

// // maybe not used or coming from impex
// .checkout-success-body-register {
//   overflow: hidden;
//   margin: 20px 0 35px 0;
//   .login-section, .register-section {
//     margin: 0 auto;
//     float: none;
//     background-color: @grayblue;
//     padding: 15px;
//   }
//   .checkout-success-body-register-email {
//     display: inline-block;
//     margin-left: 5px;
//   }
//   form {
//     padding: 20px 0;
//     text-align: left;
//   }
// }
















.termsAndConditions-section{
  padding-bottom: (@grid-gutter-width);
}



label.terms{
  margin: 15px 0;
}


fieldset#cardDate,
fieldset#startDate{
  & > .control-label{
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group{
    .control-label{
      .sr-only;
    }
  }

}

.page-multiStepCheckoutSummaryPage {

  #colorbox.read-only-grid{
    #cboxLoadedContent {
      margin-top: 100px;
      padding: 0;

      @media (max-width: @screen-sm-max) {
        margin-top: 130px;
      }

      @media (max-width: @screen-xs-max) {
        margin-top: 170px;
      }
    }
    .grid-row {
      border-top: 1px solid @border-color-2;

      &:nth-child(2n+2) {
        background: @table-2n-line-bg;
      }
    }


    .grid-prod-info {
      display: inline-block;
    }

    td {
      padding: 10px 10px 15px;
      vertical-align: top;

      > span {
        display: block;
      }

      &.grid-prod-img {
        padding-left: @grid-gutter-width*2;
      }

      .grid-variant,
      .grid-size {
        font-weight: bold;
        min-width: 80px;
      }

      .grid-variant {
        display: block;
        font-size: 16px;
      }

      @media (max-width: @screen-xs-max) {
        padding: 10px 15px 15px;

        &:nth-child(2n+2) {
          background-color: transparent;
        }

        .grid-prod-info {
          display: block;
          text-align: left;

          span {
            display: inline-block;
          }

        }

        .grid-price {
          float: right;
        }

      }
    }
  }
}