footer {
  margin-top: 30px;
  background: @footer-background;
  color: @footer-text-color;
  font-weight: normal;
}

.footer__top {
  padding-bottom: 50px;
  padding-top: 50px;

  @media (max-width: @screen-md) {
    padding-bottom: 38px;
  }

  .lang-label{
    font-weight: normal;
    color:#333333;
    font-size: 15px;
    text-transform: none;
  }

  .footer__nav--container {

    @media (min-width:@screen-xs) {
      &.col-sm-3{
        padding-right:15px;
        &:last-child{
          padding-right:0;
        }
      }
    }

    @media (max-width: @screen-sm) {
      margin-bottom: 10px;
      text-align: center;
    }

    &:last-child{
      padding-top:19px;
    }

    .footer__nav--links {
      padding-left: 0px;
      width: 100%;
      margin: 0px;
      list-style: none;

      .footer__link {
        margin-top: 10px;
      }

      a {
        color: @footer-text-color;
        font-size: 15px;
      }
    }
  }
}

.footer__left {
  .full-width-padding();
}

.footer__right {
  .full-width-padding();
  // @media (max-width: @screen-md) {
  //   border-top: 1px solid @footer-border-color;
  //   padding-top: 30px;
  //   margin-top: 25px;
  // }

  .footer__dropdown {

    select.form-control {
      padding: 2px 13px;
    }

    .form-group {
      margin-bottom: 0;
    }

    .form-control {
      cursor: pointer;
      background-color: #fff;
      color: @footer-text-color;
      padding: 7px 10px;
      height: 26px;
      line-height: 20px;
      font-size: 14px;

      option {
        background-color: @footer-background;
      }

      &:focus::-ms-value {
        background-color: @footer-background;
      }
    }
  }
}

.footer__copyright {
  background: @copyright-background;
  padding: 10px 0;
  color: @copyright-color;
  text-align: center;
}
