//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                          BASE STYLES
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************

//*********Variables*********

@font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;


//*********General CSS*********
body {
  overflow-x: hidden;
  position: relative;
  font-size: 15px;
}

body.offcanvas {
  overflow-y: hidden;
}

.no-margin{
    margin: 0 !important;
}

.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.container-lg {
  @media (min-width: @screen-lg) {
    float: none;
    margin: 0 auto !important;
    overflow: hidden;
  }
}

button {
  font-weight: bold;
}
//overwrite the bootstrap blue
a, button{
  color:#333333 !important; 
}
// .btn{
//   border-radius: 0 !important;
// }

ul, ol {
  padding-left: 15px;
}

@media (max-width: @screen-sm-max) {
  .form-control {
    .input-lg;
    font-size: @font-size-base;
  }
}

//add form style for personal detail 
.account-section-content{
  .form-control{
    height:38px !important;
  }
}

option {
  font-size: 0.875em; /* 14/16 */
  line-height: 18px;
  padding: 6px 13px;
  width: 100%;
}

/*
General
*****************************************************************/

a, button {
  color: @link-color;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

a{
  text-decoration: underline;
}


output {
  display:block;
  padding-top:7px;
  font-size:14px;
  line-height:1.42857143;
  color: @text-color;
}

.open > .dropdown-menu {
  padding: 15px 0 0 0;
}

.dropdown-menu li {
  margin-top: 3px;
}

.dropdown-menu li:first-child {
  margin-top: 0px;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 25px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857;
  color: @text-color;
  white-space: nowrap;
}

.display-none {
  display: none;
}

.page-title {
  margin-bottom: 30px;
}

@item-value-font-size: 18px;
@media (min-width: @screen-sm-min) {
  .item-label,
  .item-value {
    display: block;
  }
}
@media (max-width: @screen-xs-max) {
  .item-label,
  .item-value {
    display: inline-block;
    line-height: @line-height-computed;
    vertical-align: top;
    width: 49%;
  }
  .item-value {
    padding-left: @grid-gutter-width/2;
  }
  .item-action {
    margin-top: @grid-gutter-width;
  }
}
.item-label {
  text-transform: uppercase;
  font-weight: 300;
}
.item-value {
  font-size: @item-value-font-size;
  padding-bottom: @grid-gutter-width/2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.alert {
  .full-width-padding();
}

.container__full {
  .full-width-padding();
}

//////////////////////////////////////////////
// 					well					//
//////////////////////////////////////////////
.well {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: @grayblue;
  border: none;
  border-bottom: 1px solid @table-head-border-color;
  padding: @grid-gutter-width/2 15px;
  margin: 0;
  .clearfix();

  &.well-single-headline {
    padding-left: 0;
    padding-right: 0;
  }

  &.well-xs{
    padding: 0px 15px 5px;

    .well-headline {
      padding-top: 15px;
      margin: 0;
    }
    .well-content {
      padding-top: @grid-gutter-width;
    }
  }

  &.well-sm {
    padding: @grid-gutter-width/2 @grid-gutter-width;
  }

  &.well-md {
    padding-top: @grid-gutter-width - 5;
    padding-bottom: @grid-gutter-width - 5;
    .full-width-padding();
  }

  &.well-lg {
    padding-top: 45px;
    padding-bottom: 35px;
    .full-width-padding();
  }

  &.well-primary {
    background-color: @brand-primary;
    color: #ffffff;
  }

  &.well-secondary {
    background-color: @well-secondary-bg;
    color: @text-color;
  }

  &.well-tertiary {
    background-color: @table-head-bg;
    color: #ffffff;

    .item-label {
      color: @table-head-color;
    }
    .item-value {
      color: #fff;

      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  &.well-quaternary {
    background-color: #fff;
    color: @text-color;
    border-top: 1px solid @border-color-2;
    border-bottom: 1px solid @border-color-2;
  }

  &.well-quinary {
    background-color: #ffffff;
    color: @text-color;
    border-color: @border-color-2;
    padding-left: 0;
    padding-right: 0;

    .well-headline {
      background-color: @table-head-bg;
      color: #ffffff;
    }

    .well-content {
      .full-width-padding();
    }
  }

  &-headline {
    margin-left: -15px;
    margin-right: -15px;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid @table-head-border-color;
    padding: 5px 30px 15px;
    .full-width-padding();

    &-sub {
      font-weight: 400;
      padding-left: 10px;
    }

    @media (max-width: @screen-xs-max) {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  &-single-headline {
    padding-bottom: 0;
    border-bottom: 0;
  }

  &-content {
    padding-top: @grid-gutter-width*2;
    padding-bottom: @grid-gutter-width;
    .clearfix();
  }

  > .col-no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .well-headline {
    margin: 0;
    .full-width-padding();
  }
}

@media (max-width: @screen-xs-max) {
  .well {

    &,
    &.well-lg {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                          TABLET STYLES
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************

@media (max-width: @screen-sm-max) {

  body.offcanvas {
    max-height: 100vh;
  }

  main {
    .transition(transform 0.3s ease-out);
  }

  .container {
    width: @full-width;
  }

  textarea.form-control, select[multiple].form-control {
    height: auto
  }
}

//
.main__inner-wrapper{
    max-width: 1240px;
    margin:0 auto;
    padding-left: 0;
    
    @media (min-width: @screen-xs){
      min-height: 50vh;
    }

    @media (max-width:1250px){
      padding-left: 20px;
      padding-right: 20px;
    }

    

    & > .banner__component--responsive:first-child{
      padding: 20px 0;
    }
}

//update for button styles
.btn-primary{
  color:#333333;
  background-color: 	#ffe600; //EY yellow
  font-size: 15px;
  &[disabled]{
    background-color: #f1e042 !important;
    border-color: #f1e042 !important;
  }
}

.form-group{
  margin-bottom: 20px;
}

.form-group label{
  font-size: 15px;
  font-weight: bold;
  color:#333333;
}


btn:hover, btn:focus{
  text-decoration: underline !important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding-left: 0;
  padding-right: 0;
}

//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                          MOBILE STYLES
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
