.login-page__headline,
.user-register__headline{
	.page-headline();
}

.login-left-content-slot{
    margin-right: 10px;
  	margin-left: 30px;

  	@media (max-width: @screen-sm-max) {
      margin-left: 20px;
      margin-right: 20px;
  	}
}

.login-right-content-slot{
    margin-right: 30px;
  	margin-left: 10px;

  	@media (max-width: @screen-sm-max) {
      margin-left: 20px;
      margin-right: 20px;
  	}
}

.forgotten-password{
  a{color:#333333}
	form & {
    margin-bottom: 45px;
  }

  &.alert {
    padding-left: 0;
    padding-right: 0;
  }

	.description{
      margin-bottom: (@grid-gutter-width/2);
	}

  #colorbox & .btn-primary {
    margin-top: 35px;
  }
}

.register-form-action, .login-form-action {
  margin-top: 35px;
}

.forgotten-password + .login-form-action {
  margin-top: 0;
  @media (min-width:768px){
    .col-sm-6:first-child{
      padding-left:20px;
    }
    .col-sm-6:last-child{
      padding-right:20px;
    }
  }
}

.alert-dismissable,
.alert-dismissible  {
  .close {
	right: 0;
  }
}

.register__container {
  .full-width-padding();
}

@media (max-width: @screen-xs-max) {
	.login-form-action {
		.btn-default {
          margin-top: @grid-gutter-width * 1.5;
		}
	}
}

@media (max-width: @screen-xs-max) {
	.login-section,
  	.register-section {

		.forgotten-password {
          margin-bottom: 45px;
		}
	}
}

.login-section{
  
  label{
    color:#333333;
    font-weight: bold;
    font-size: 15px;
  }
  @media (min-width:1024px) {
    min-height: 60vh;
    .headline{
      font-size: 25px;
      padding-top:25px;
      padding-bottom: 25px;
    }
  }
  padding-top: 65px;
  input{
    height: 48px;
    font-size: 20px;
  }

  .login-form-action .btn-default{
    background-color: @meta-nav-background;
    color:#333333;
    border-color:@meta-nav-background;
   
    &:hover, &:focus, &:active{
      background-color: @meta-nav-hover-background;
      color:#333333;
      border-color:@meta-nav-hover-background;
      
    }
  }
  .login-form-action a{
    text-decoration: none;
  }
}