.image-gallery__image{
	cursor: pointer;
	.owl-item img{
		border: 1px solid @meta-nav-hover-background;
	}
}

.image-gallery__zoom-icon{
	font-size: 20px;
	opacity: 0.5;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
	//hide zoom in button
	display: none;
}

.page-productDetails {
  .carousel {
	// @media (min-width: @screen-sm){
	//   padding-left: 30px;
	//   padding-right: 30px;
	// }
		margin:0;
		.owl-item .item{
			margin:0;
			
			img{
				border:1px solid @meta-nav-hover-background;
			}
			
		}
  }
}

.product-details,
.product-details-price{
  margin-bottom: 10px;

  @media (max-width: @screen-xs-max){
	padding: 0;
  }

  .name {
    .page-headline();
		padding: 0;
		font-size: 20px;

    .sku{
        font-size: 18px;
        line-height: 18px;
        color: @text-color-secondary;
        position: relative;
        padding-left: 20px;
        font-weight: 400;

        &:before {
            border-left: 1px solid @border-color-2;
            content: "";
            height: 14px;
            position: absolute;
            top: 7px;
            left: 10px;
        }
    }

    .code {
        font-size: 18px;
        line-height: 18px;
        padding-left: 5px;
    }
  }

  .promotion {
      color: @item-promo-color;
  }

  .description{
      padding: (@grid-gutter-width/2) 0 25px;
  }

  .price{
      font-size: 25px;
      font-weight: bold;
  }

  .stock-status{
      font-weight: 300;
  }
}

@media (max-width: @screen-md-max) {
	.product-details,
	.product-details-price {
		.description{
			border-bottom: 1px solid @border-color-3;
		}
	}
}

.product-details.page-title {
  .full-width-padding();
}


//add padding between product information and thumbnails in pdp
.product__information{

	margin-top:15px;
	@media (max-width:@screen-xs) {
		margin-top:30px
	}
	//hide h1 product review summary
	h1{
		display: none;
	}
	// @media (max-width:@screen-xs) {
	// 	.rating{
	// 		padding-left: 20px;
	// 		padding-right: 20px;
	// 	}
	// }
}


.product-main-info {
	
 	.full-width-padding();
	 margin:25px 0;
  .product-details {
	padding: 0;
		
		.description{
			display: none;
		}
  }
}

.variant-section{
	margin-bottom: @grid-gutter-width + @grid-gutter-width/2;

	.variant-selector{
		.variant-name{
			font-size: 13px;
			font-weight: 600;
			color: @label-color;
			text-transform: uppercase;
			margin-top: 15px;
			margin-bottom: 5px;

			.variant-selected{
				font-weight: normal;
				text-transform: none;
			}
		}

		.variant-list{
			.list-unstyled;
			.clearfix;
			margin-left: -(@grid-gutter-width);

			li{
				float: left;
				margin: 0 0 0 (@grid-gutter-width);
				a,span{
					display: block;
					height: @input-height-base;
					width: @input-height-base;
					line-height: @input-height-base;
					text-align: center;
					text-transform: uppercase;
					border:1px solid @input-border-color;
					background: #fff;
					color: @text-color;
					text-decoration: none;

					@media (max-width: @screen-sm-max) {
						height: @input-height-large;
						width: @input-height-large;
						line-height: @input-height-large;
					}


					img{
						width: 100%;
						height: auto; 
						vertical-align: top;
						border:1px solid transparent;
					}
				}

				

				&:hover a,
				&.active a{
					background: @brand-primary;
					.box-shadow(~"inset 0 0  0 1px #fff");
					border:1px solid @brand-primary;
					color: #fff;
					

					img{
						border:1px solid #fff;
					}
				}


				&.disabled{
					span{
						color:#999;
						cursor: not-allowed;
					}
				}
			}
		}
		.variant-select{
			margin: (@grid-gutter-width/2) 0 0;
		}
	}
}


.rating{
	.clearfix;

	@media (max-width:1250px)and(min-width:1025px)  {
		padding-left:30px;
	}
	@media (max-width:1024px)  {
		padding-left:20px;
	}
	@media (max-width:767px)  {
		padding-left:0;
	}
	
	.rating-stars{
		margin: 0 15px 0 0;
		padding: 3px 0 1px;
	    position: relative;

		@media (max-width: @screen-sm-max) { 
			font-size: @font-size-large;
			float: none;
			.clearfix;
		}

	  	.greenStars{
		  position: absolute;
		  overflow: hidden;
		  top: 3px;
		  left: 0;
		  white-space: nowrap;
		  width: 0;
		}

		span{
			color: #dee3e8;
			margin: 0 0.1em;

            overflow: hidden;

	
			&.fh{
				width: 0.47em;
				margin-right: 0;
                .pull-left();
			}

			&.lh{
				width: 0.5em;
				text-indent: -0.44em;
				margin-left: 0;
                .pull-left();
			}

			&.active{
				color: @brand-primary;
			}
		}
	}

	&.rating-set{
		.rating-stars{
			cursor: pointer;
            display: inline-block;
		}
	}


	a{
		font-size: 15px;
		position: relative;
		margin-left: 10px;
		padding-left: 10px;
		color:#333333;

		&:before {
			border-left: 1px solid @border-color-3;
			content: "";
			height: 19px;
			position: absolute;
			top: 0;
			left: -10px;
		}
	}

}


.tabs-responsive{

  .tab-container {
	float: none;
	padding: 0;
  }

	@media (max-width: @screen-sm-max) {
		.tabhead{
			border-bottom: 1px solid @grayblue;
			
		}

	}

	@media (max-width: @screen-xs) {
		.tabhead.active{
			margin-bottom: 10px;
	}
}
}

.tab-review{
	.review-pagination-bar{
		margin: (@grid-gutter-width/2) 0;
		.clearfix;
		.right{
			float: right;
			.pager{
				float: left;
				margin: 0 (@grid-gutter-width/2);
			}

		}
		//overwrite default btn style
		.btn-default{

			color: #333333;
			background-color: @meta-nav-background;
			border-color: @meta-nav-background;
	
			&:hover,&:focus, &:active{
				color: #333333;
				background-color: @meta-nav-hover-background;
				border-color: @meta-nav-hover-background;
			}
		}
	}


	.review-list{
		.list-unstyled;
		.review-entry{
			margin: (@grid-gutter-width/2) 0;

			.title{
				font-weight:bold;
			}

			.content{
				
			}

			.autor{
				
				color:@gray-light;

			}

			.date{
			
			}

		}
	}


	.write-review{
		display: none;
	}
}












#AddToCart-PickUpInStoreAction{
	.make-sm-column(6);
	.make-md-column(12);
	margin-top: 20px;
}
.AddToCart-PickUpInStoreAction {
    margin-top: @grid-gutter-width/2;
}

.AddToCart-ShareOnSocialNetworkAction {
	margin-top: @grid-gutter-width;
}


#AddToCart-AddToCartAction{
	.make-sm-column(6);
	.make-md-column(12);
	margin-top: 20px;
}


#AddToCart-ShareOnSocialNetworkAction{
	.make-xs-column(12);
	margin-top: 30px;
}