////////////////////////////
//        cart page       //
////////////////////////////
.inspect-logo a {
  cursor: default;
}
.punchout-header {
  &.main-header .site-logo {
    padding: 5px 0 0;

    img {
      max-height: 35px;
    }
  }
}

.branding-mobile {

  img {
    max-height: 30px;
  }
}

.row-basket-bottom-punchout {
  margin-top: 20px;
}

@media (max-width: @screen-xs-max) {
  .cancelButton{
    margin-bottom: @grid-gutter-width/2;
  }
}

////////////////////////////
//        cart page       //
////////////////////////////
.btn-continue-shopping {
  margin-bottom: @grid-gutter-width/2;
}

////////////////////////////
//         Foooter        //
////////////////////////////
@media (max-width: @screen-md-max) {
  #lang-form {
    float: none;
    margin: 0 auto;
  }
}